/* Extra small devices (portrait phones, less than 576px) */
/* -----------  MAX WIDTH  ----------------- */

@media (max-width: 576px) {
    .header .logo img {
	    width: 50px;
        height: 45px;
    }

    .header .titre h1{
        font-size: 1.8rem;
    }
}



@media (max-width: 350px) {
    .joueur .col-6 {
        padding-right: 3px;
        padding-left: 3px;
    }

    .header .logo img {
        width: 50px;
        height: 50px;

    }
    .header .titre {
        font-size: 2rem;
    }

    .header .menu {
        float: none;
        margin: 0 auto;
        padding: 10px;
    }
   
}

