/* variables à sauvegarder 
bleu redbull : #001e3c;
bleu michigan : #00274c;
jaune michigan : #f5c300;
*/

body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100%;
    position: relative;
}

html {
  height: 100%;
}

.header {
  position: relative;
  min-height: 100px;
  padding-top: 18px;
  background-color: #00274c;
  border-bottom: 1px solid white;
}

.header .wrapper-logo {  
  display: inline-flex;
}

.header .logo img {
  width: 70px;
  height: 65px;
}

.header .titre {
  height: 65px;
  font-family: 'Pacifico', cursive;
  color: #f5c300;
  padding-top: 8px;
  margin-left: 15px;
}

.header .titre b {
  color: #d22121;
}

.header .menu {
  float: right;
}

.header .menu_button:hover {
  cursor: pointer;
}

.header .menu_button {
	fill: #fff;
	width: 45px;
	height: 40px;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	margin: 0 auto;
	-webkit-filter: drop-shadow(0 0 8px rgba(0,15,30,.75));
	filter: drop-shadow(0 0 8px rgba(0,15,30,.75));
	transition: fill .1s linear;
}

.header .menu_deplie {
  max-height: 0;
  overflow: hidden;
  transition: all ease 0.7s;
}

.header .menu_deplie ul {
	background-color: white;
  border: 1px solid grey;
  list-style-type: none;
}

.header .menu_deplie li {
  padding: 15px;
  color: black;
  border-bottom: 1px solid grey;
}

.header .menu_deplie li:last-child {
  border-bottom: none;
}

.header .menu_deplie a {
  color:#00274c;
}

/* --------- classe joueurs -------------------- */
.joueurs {
  
  display: hidden;
  max-height: 0px;
  opacity: 0;
  text-align: center;
  overflow: hidden;
  transition: max-height ease 1.5s;
}



/* ---------- classe joueur --------------- */
.joueur {
  position: relative;
  padding: 5px 0 5px 0;
  text-align: center;
}

.joueur .btn-joueur {
  height: 40px;
  background-color: white;
  color: #001e3c;
  border: 0;
}

.btn-joueur:hover {
  cursor: pointer;
}

.joueur .nom {
    width: 100px;
}

.joueur input {
  width: 100%;  
  vertical-align: top;
  border: 0;
  border-radius: 0;
  text-align: center;
  height: 40px;
}

.joueur [data-presence="1"] {
  background-color: rgb(34, 245, 7);
}

.joueur [data-presence="2"] {
  background-color: rgb(255, 234, 0);
}

.joueur [data-presence="3"] {
  background-color: rgb(243, 33, 33);
  color: white;
}

.joueur [data-presence="4"] {
  background-color: rgb(132, 41, 182);
  color: white;
}

.joueur .present{
  background-color: rgb(34, 245, 7);
}

.joueur .retard{
  background-color: rgb(255, 234, 0);
}

.joueur .absent{
  background-color: rgb(243, 33, 33);
  color: white;
}

.joueur .incertain{
  background-color: rgb(132, 41, 182);
  color: white;
}

/* --------------- classe match -----------------*/
.match {
  padding-top: 15px;
  background-color: #001e3c;
  border-radius: 0px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 1px rgba(1, 2, 2, 0.3);
  position: relative;
}

.match .info {
  margin: 5px 0;
}

.match p, .match textarea {
  width: 80%;
  background-color: #f5c300;
  color: #001e3c;
}

.match p {
  margin: 0 auto;
  padding-top: 5px;
}


.match p, .match textarea {
  border: 2px solid white;
  border-radius: 0;
  text-align: center;
}

.match .btn-match {
  height: 60px;
  width: 60px;
  border: 2px solid white;
  border-radius: 0;
}

.match .btn-match.plus {
  background-color: #001e3c;
  color: #f5c300;
}

.match .btn-match.moins {
  color: #001e3c;
  background-color: #f5c300;
}

.match p {
  height: 40px;
}

.match textarea {
  resize: none;
}

.match .boutons {
  padding-bottom: 8px;
}

.match .btn-mail {
	background-image: url("images/mail.png");
	height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	width: 80px;
	border-radius: 0;
	border: 0;
	background-color: white;
	box-sizing: content-box;
}

.match .commentaires {
  padding-top: 20px;
  width: 100%;
}

.match .commentaires .nomComment, .match .commentaires .contenuComment {
  border: 0;
  border-radius: 0;
  margin-bottom: 3px;
  text-align: center;
}

.match .commentaires .nomComment {  
  background-color: #001e3c;  
  color: #db0a40;
}


.match .commentaires .contenuComment {
  background-color:white;
  color: black;
}

.match .expired {
  position: absolute;
  top: 20px;
  opacity: 0.6;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* -------------- CSS du slider ------------- */
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: center;    
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 8px;
    background-color: white;
    color: #001e3c;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 3px;
    bottom: 5px;
    background-color: #001e3c;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider.present{
    background-color: rgb(34, 245, 7);
  }
  
  input:focus + .slider.present {
    box-shadow: 0 0 1px rgb(34, 245, 7);
  }

  input:checked + .slider.retard{
    background-color: rgb(243, 222, 33);
  }
  
  input:focus + .slider.retard {
    box-shadow: 0 0 1px rgb(243, 222, 33);
  }

  input:checked + .slider.absent{
    background-color: rgb(243, 33, 33);
  }
  
  input:focus + .slider.absent {
    box-shadow: 0 0 1px rgb(243, 33, 33);
  }
  
  input:checked + .slider.incertain{
    background-color: rgb(132, 41, 182);
  }
  
  input:focus + .slider.incertain {
    box-shadow: 0 0 1px rgb(132, 41, 182);
  }

  input:checked + .slider.vote{
    background-color: rgb(34, 245, 7);
  }
  
  input:focus + .slider.vote {
    box-shadow: 0 0 1px rgb(34, 245, 7);
  }

  .slider.vote[data-perso="boulard"]::after{
    content : "J'ai le boulard";
  }
  
  .slider.vote[data-perso="bouse"]::after{
    content : "même moi";
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(162px);
    -ms-transform: translateX(162px);
    transform: translateX(162px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    padding-top: 6px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  /* ---------------- Formulaire Joueur ------------- */
  .gestionJoueur {
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 20px;
    display: none;
    background-color: #001e3c;
    text-align: center;
    color: white;
    width: 100%;
    min-height: 2000px;
    z-index: 2;   
  }

  .gestionJoueur .fermer {
    position: relative;
    margin-bottom: 80px;
  }

  .gestionJoueur .btn-fermer {
    position: absolute;
    right: 20px;
    background: transparent;
    color: white;
    border: none;
    font-size: 2rem;
  }

  .gestionJoueur .btn-fermer:hover {
    cursor: pointer;
  }

  .gestionJoueur .photoJoueur {
    width: 200px;
    height: 200px;
    border: 2px solid white;
  }

  .gestionJoueur .presentation {
    margin-bottom: 30px;
  }

  .gestionJoueur input {
    background-color: white;
    color: #001e3c;
    width: 200px;
    height: 40px;
    border-radius: 0;
    margin-bottom: 0.5rem;
    border: none;
    text-align: center;
  }

  .gestionJoueur .commentaire {
    width: 100%;
  }

  .gestionJoueur .btn {
    border-radius: 0;
    margin-top: 10px;
  }

  .gestionJoueur .votes {
    margin-top: 50px;
  }

  .gestionJoueur .votes h1{
    margin-bottom: 30px;
  }

  .gestionJoueur .retour {
    text-align: center;
    margin-top: 20px;
  }

  .gestionJoueur .retourCommentaire, .gestionJoueur .retourPresence,
  .gestionJoueur .retourVote {
    background-color: #f5c300;
    color:  #001e3c;
    display: none;
    width: 250px;
    margin: 0 auto 5px auto; 
  }
  

  #listeVotes {
    padding-top: 30px;
  }

  /* ---------------- Style de infos -------------------*/

  .infos {
    position: relative;
    padding: 0;
    color: white;
    width: 100%;
    height: 400px;
    overflow: hidden
  }

  #imageInfos {

    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-image: url("images/volley-header.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

  }

  .infos .dates {
    text-shadow: 1px 1px 4px black, 2px 2px 2px black;
    padding: 45px 20px;
  }

    
  /* --------------------- Style du footer -------------- */
  .footer {
    margin-top: 50px;
    background-color: black;
    color: white;
    height: 120px;
    text-align: center;
  }

  .footer .nom {    
    padding-top: 30px;
  }

  .footer b {
    padding: 0 10px;
    font-size: 1.2rem;
    color: #f5c300;
    font-family: 'Indie Flower', cursive;
  }

  .footer .links {
    color: white;
  }

  /* ------------ style de la page AUTHENTIFICATION ---------------*/

  .authentification {
    background-color: black;
    padding-top: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
  }

  .authentification .form {
    padding-top: 100px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }

  .authentification input {
    border: none;
    height: 50px;
    padding-left: 10px;
  }

  .authentification .bouton {
    background-color: #ff9900;
    color: black;
    height: 52px;
    width: 100px;
  }

  /* ----------------- scoreBoard ------------------ */

  .scoreBoard {
    padding: 0 24px;
    background-color: grey;
    position: relative;
    height: 100px;    
    margin-bottom: 30px;
    overflow: hidden;   
  }

  .scoreBoard_contenu {
    position: relative;
  }

  .scoreBoardMatch {
    border: 1px dotted grey;
    background-color:#ffffcc;
    color: black;
    font-size: 11px;
    line-height: 16px;
    height: 100px;
    width: 225px;
    display: inline-block;
    position: relative;
    left: 0;
    transition: all ease-in-out 1s;
  }

  .scoreBoardMatch input {
    display: inline-block;
    width: 50%;
    height: 32px;
    background: transparent;
    border: none;
    text-align: center;
  }

  .scoreBoardMatch hr {
    width: 80%;
    border-bottom: 1px dotted grey;
    margin: 0 auto;
    padding: 0;
  }

  .scoreBoardMatch .date {
    width: 100%;
    font-size: larger;
  }

  .scoreBoardMatch .score {
    font-size: 16px;
  }

  .scoreBoard button {
    /* transition: 0.2s; */
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    position: absolute;
    width: 24px;
    height: 100%;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-top: none;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-size: 0;
    padding: 0;
    outline: none;
    z-index: 1;
  }

  .scoreBoard button .fas {
    font-size: initial;
  }

  .scoreBoard button.previous {
    top: 0;
    left: 0;
  }

  .scoreBoard button.next {
    top: 0;
    right: 0;
  }

  .scoreBoardNom {
    font-weight: 700;
    color: #00274c;
    text-transform: uppercase;
  }