body {
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 50px;
}

.header {
    height: 100px;
    background-color: black;
    color: wheat;
}

.header .titre {
    font-family: 'Pacifico', cursive;
}

.header .menu .boite {
    display: inline-block;
    width: 150px;
    height: 50px;    
    background-color: white;
}

.header .menu .boite a {
    color: #000;
}

.ajout {
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 50px;
}

.ajout button {
    width: 100px;
    height: 100px;
    color: white;
    background-color: rgb(28, 195, 65);
    border-radius: 50px;
    font-size: 3rem;
}

.joueur .nom {
    width: 100px;
}

.joueur label, .joueur input {
  vertical-align: top;
  border: 2px solid black;
  border-radius: 0;
  text-align: center;
  height: 40px;
}

.joueur label {
  line-height: 2rem;
}


.joueurs {
  text-align: center; 
  max-height: 0px; 
  overflow: hidden;
  transition: all cubic-bezier(.39,.42,0,1.09) 1.2s;
}

.match {
  text-align: center;
  position: relative;
  background-color: #7f8aff;
  margin: 30px 0 20px 0;
}

.match .nom {
  position: absolute;
  left: 0;
}

.match .participants {
  position: absolute;
  left: 0;
  bottom: 0;
}

.match input, .match button, .match textarea {
  vertical-align: top;
  border: 2px solid black;
  border-radius: 0;
  text-align: center;
}

.match input, .match button {
  height: 40px;
}

.match textarea {
  resize: none;
}




/* -------------- CSS du slider ------------- */
 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: center;    
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider.present{
    background-color: rgb(34, 245, 7);
  }
  
  input:focus + .slider.present {
    box-shadow: 0 0 1px rgb(34, 245, 7);
  }

  input:checked + .slider.retard{
    background-color: rgb(243, 222, 33);
  }
  
  input:focus + .slider.retard {
    box-shadow: 0 0 1px rgb(243, 222, 33);
  }

  input:checked + .slider.absent{
    background-color: rgb(243, 33, 33);
  }
  
  input:focus + .slider.absent {
    box-shadow: 0 0 1px rgb(243, 33, 33);
  }
  
  input:checked + .slider.incertain{
    background-color: rgb(132, 41, 182);
  }
  
  input:focus + .slider.incertain {
    box-shadow: 0 0 1px rgb(132, 41, 182);
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(162px);
    -ms-transform: translateX(162px);
    transform: translateX(162px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    padding-top: 6px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 