/* Extra small devices (portrait phones, less than 576px) */
/* -----------  MAX WIDTH  ----------------- */

@media (max-width: 976px) {
    .affichageVotes {
	    width: 100%;
        height: 100%;
        top: 0;
    }
}



