body {
    background-color: #001e3c;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.header {
    position: relative;
    min-height: 100px;
    padding-top: 18px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
  }
  
  .header .wrapper-logo {  
    display: inline-flex;
  }
  
  .header .logo img {
    width: 70px;
    height: 65px;
  }
  
  .header .titre {
    height: 65px;
    font-family: 'Pacifico', cursive;
    color: #ffc107;
    text-shadow: 1px 1px 4px black, 2px 2px 2px black;
    padding-top: 8px;
    margin-left: 15px;
  }
  
  .header .titre b {
    color: #d22121;
  }
  
  .header .menu {
    float: right;
  }
  
  .header .menu_button:hover {
    cursor: pointer;
  }
  
  .header .menu_button {
      fill: black;
      width: 45px;
      height: 40px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      margin: 0 auto;
      transition: fill .1s linear;
  }
  
  
  
  
  .header .menu-item {
    height: 70px;
    color: white;
    border-bottom: 2px solid white;
    padding: 5px 0;
  }
  
  .header .menu-item button {
    height: 60px;
    width: 100%;
    background-color: #111515;
  }
  
  .header .menu_deplie {
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.7s;
  }

  .listeJoueurs .photo {
      width: 150px;
      height: 150px;
      border: 4px solid white;
  }