
/* CSS App scores */

/* jaune wolverines
background-color: rgb(255, 241, 43);
*/

/* --------------------  body --------------- */
.body-scores {
  font-family: 'Roboto Condensed', sans-serif;
  background-color:rgb(255, 255, 255);
  color: white;
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
}

.body-scores .row {
  margin: 0;
  padding-top: 6px;
}


.body-scores h1 {
  font-size: 2rem;
}

/* ---------------- appli ------------------- */
.appli {
  /*
  border: 2px solid black;
  */
  box-shadow: 2px 2px 3px grey;
}

/* --------------- header --------------------- */
.header {
	height: 85px;
	padding: 17px 0;
	background-color: white;
	text-align: center;
  box-shadow: inset 0 0 2px 2px black;
  background-image: radial-gradient(circle, #004bff -10%, #0093ff 10%, #001221);
}

.header .btn{
  position: absolute;
  background-color: white;
  color:black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 2px 2px 2px #5d93c3;
  height: 50px;
}

.header .btn.match {
  left: 15px;
}

.header .btn.set {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
}


.header .btn_inverser {
  right: 15px;
  background-color: white;
}


/* --------------------------- main_content ---------------- */

.main_content {
	padding-bottom: 40px;
	background: #0f0e27;
}

.logo_ffvb {
  text-align: center;
  background: white;
  padding: 10px;
}

.logo_ffvb img {
  width: 200px;
}

.round {
	position: static;
	margin: 5px auto;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.5);
	border: 2px solid white;
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 241, 43);
	width: 100%;
}


.round h1 {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 10px;
  font-size: 3rem;
  color: #d5da18;
  font-weight: bold;
  text-shadow: 0px 0px 3px #0c99bf;
}



.numeroRound {
  width: 100%;
  border: none;
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 10px;
  font-size: 3rem;
  color: #d5da18;
  font-weight: bold;
  text-shadow: 0px 0px 3px #0c99bf;
}


/****** ------------- scores ---------------- */
.scores {
	position: relative;
	height: 510px;
}

.scores-panneau {
  border: 1px solid white; 
}

.scores-panneau .container {
  margin-bottom: 15px;
}


.equipe, .nom, .scoreSet {
  transition: all linear .5s;
}

.equipe {
	position: static;
	height: 70px;
	width: 100%;
}

.equipe.gauche {
  left: 0;
}

.equipe.droite {
  right: 0;
}

.equipe .contenu {
  position: static;
}


.equipe input{
  
  text-align: center;  
  height: 60px;
  border-radius: 0;
  border: none;
}

.equipe .nom {
	height: 60px;
  bottom: 3px;
  width: 100%;
  border: 2px solid black;
}

.equipe .nom.gauche {
  left: -73px;
}

.equipe .nom.droite {
  left: 73px;
}

.equipe .scoreSet {
	font-size: 3rem;
	font-family: 'Teko', sans-serif;
	width: 27%;
	text-shadow: 2px 2px 2px rgb(140, 151, 160);
	position: absolute;
  border: 2px solid black;
  bottom: 0;
  right: 0;
	height: 70px;
}

.equipe .scoreSet.droite {
  right: 73%;
}


.temps-mort div {
  display: inline-block;
  width: 50%;
  padding: 3px;
}

.temps-mort button {
	opacity: 0;
	padding: 0;
	height: 60px;
	width: 100%;
	font-size: 12px;
  border-radius: 0;
  /*
  background: linear-gradient(to bottom, #e1e86d 0%,#dade28 50%,#dec228 50%,#bec21f 51%,#bec21f 51%,#b6d633 100%);
  
  */
  background-color: rgb(255, 241, 43);
}

.equipe-gauche, .equipe-droite {
  position: absolute;
  width: 50%;
  left: 0;
}


/* --------------- score ----------------- */
.score {
  height: 70px;
  width: 50%;
  text-align: center;
}

.row_btn-score {
	position: absolute;
	left: 0;
	width: 100%;
	transition: all linear 0.5s;
}

.score .btn-score{
  width: 95%;
  height: 100%;
  border-radius: 0;
  border: 2px solid white;
  background-color: transparent;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.container_btn {
  position: relative;
  height: 70px;
  height: 80px;
  margin-bottom: 10px;
}

.score .btn_plus {  
  line-height: 0;
  /*
  font-size: 3rem;
  color: #19bbe4;
  border-color: #19bbe4;
  */
  text-align: center;
    color: #fff;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 1px 1px #386379;
	border: 1px solid #3180a7;
	background: #6dbfe8;
	background: -moz-linear-gradient(top,  #6dbfe8 0%, #28a1de 50%, #28a1de 50%, #1f8cc2 51%, #1f8cc2 51%, #33a0d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dbfe8), color-stop(50%,#28a1de), color-stop(50%,#28a1de), color-stop(51%,#1f8cc2), color-stop(51%,#1f8cc2), color-stop(100%,#33a0d6));
	background: -webkit-linear-gradient(top,  #6dbfe8 0%,#28a1de 50%,#28a1de 50%,#1f8cc2 51%,#1f8cc2 51%,#33a0d6 100%);
	background: -o-linear-gradient(top,  #6dbfe8 0%,#28a1de 50%,#28a1de 50%,#1f8cc2 51%,#1f8cc2 51%,#33a0d6 100%);
	background: -ms-linear-gradient(top,  #6dbfe8 0%,#28a1de 50%,#28a1de 50%,#1f8cc2 51%,#1f8cc2 51%,#33a0d6 100%);
	background: linear-gradient(to bottom,  #6dbfe8 0%,#28a1de 50%,#28a1de 50%,#1f8cc2 51%,#1f8cc2 51%,#33a0d6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dbfe8', endColorstr='#33a0d6',GradientType=0 );
	border-radius: 3px;
	outline: none;
  box-shadow: inset 0 1px 1px rgba(255,255,255,0.7);
  }

  .score .btn_moins {
    /* font-size: 3rem; */
    /* color: #ef8e12; */
    /* border-color: #ef8e12; */
    /* text-align: center; */
    line-height: 0;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 1px 1px #386379;
    border: 1px solid #de922f;
    background: #6dbfe8;
    background: -moz-linear-gradient(to bottom, #fdff93 0%,#e7df41 50%,#d0d75b 50%,#dddb84 51%,#f0ff5e 51%,#d6d433 100%);
    background: -webkit-gradient(to bottom, #fdff93 0%,#e7df41 50%,#d0d75b 50%,#dddb84 51%,#f0ff5e 51%,#d6d433 100%);
    background: -webkit-linear-gradient(to bottom, #fdff93 0%,#e7df41 50%,#d0d75b 50%,#dddb84 51%,#f0ff5e 51%,#d6d433 100%);
    background: -o-linear-gradient(to bottom, #fdff93 0%,#e7df41 50%,#d0d75b 50%,#dddb84 51%,#f0ff5e 51%,#d6d433 100%);
    background: -ms-linear-gradient(to bottom, #fdff93 0%,#e7df41 50%,#d0d75b 50%,#dddb84 51%,#f0ff5e 51%,#d6d433 100%);    
    background: linear-gradient(to bottom, #fdff93 0%,#e7df41 50%,#d0d75b 50%,#dddb84 51%,#f0ff5e 51%,#d6d433 100%);
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.7);
  }

.score .btn_plus:after {
  content: '+';
}

.score .btn_moins:after {
  content: '-';
}

/* ------------------------ unScore ------------------ */
.unScore {
  text-align: center;
  font-family: 'Teko', sans-serif;
  text-shadow: 3px 3px 3px rgb(140, 151, 160);
  margin: 0 auto;
  width: 98%;
  height: 200px;
  font-size: 150px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 0;
  border: none;
}


.equipe-droite.droite{
  left: 50%;
}

.equipe-gauche.droite{
  left: 50%;
}

.anime {
  transition: all 1s cubic-bezier(.64,.2,.3,.94);
}

.nomEquipe {
	padding: 5px;
	background: black;
	border: none;
	color: white;
	font-family: 'Bangers', cursive;
	font-size: 2rem;}


.set {
  color: white;
  width: 100%;
  border-radius: 0;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 255, 255);
}


/* CSS des affichages entre 2 sets */

.askUser{
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: rgba(0,0,0,0.9);
}

.askUser h1{
  padding: 20px;
}

.askUser .col-6{
  text-align: center;
}

.askUser button {
  width: 100%;
  height: 100px;
  color: wheat;
  background-color: black;
  border: 1px solid wheat;
  border-radius: 0;
}

.askUser .btn-ask-score{
  width: 100%;
	height: 180px;
	font-size: 70px;
	background-color: black;
	font-family: 'Bangers', cursive;
	color: white;
	border-radius: 0;
}

/* CSS du recap */
.recap {
  padding-bottom: 50px;
  color: black;
  background: darkorange;
}

.recap .container{
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.recap .gatorade {
  /* background: darkorange;
  box-shadow: inset 0px 1px 1px aliceblue;
  */
	color: white;
	font-style: italic;
	font-size: 2rem;
  border: 1px solid grey;
	background: linear-gradient(to bottom, #4dec35 0%,#6dde28 50%,#28de2a 50%,#85c21f 51%,#46c21f 51%,#c0fe18 100%);
	box-shadow: 0px 2px 8px 1px black;
}

.recap .gatorade p {
	display: inline-block;
	font-family: 'Bangers', cursive;
	text-shadow: 1px 1px 4px black;
}

.recap .gatorade img{
  width: 100px;
}


.recap .contenu {
	border: 5px solid;
	background: linear-gradient(to bottom, #f5f5f5 50%,#d4d4d4 50%,#c9c8c8 50%,#f6dfd9 10%,#f2f2f2 10%,#c9c9c9 100%);
	box-shadow: inset 0 0px 8px grey;
}

.recap table{
  margin: 0 auto;
}


.recap tr, th {
	padding: 10px;
	text-align: center;
	border-bottom: 3px solid #0f0e27;
	width: 100px;
}

.recap tr:last-child {
  border-bottom: none;
}

.recap input {
  width: 175px;
  height: 40px;
  border: none;
  border-radius: 0;
  box-shadow: 0;
  text-align: center;
  background: transparent;
  color: white;
}

.recap td{
  padding: 10px;
}


.recap h2{
  padding-top: 20px;
  font-size: initial;
}

.recap button {
  width: 60px;
  background-color: wheat;
  box-shadow: 2px 2px 2px black;
}

.recap_score {
  font-weight: bold;
}

/* CSS du temps Mort technique */
.tempsMortTechnique {
  z-index: 3;
  /*
  display: none;
  */
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.9);
  transition: all ease-in-out 0.5s 0.3s;
}

.tempsMortTechnique.initial {
	width: 0;
	overflow: hidden;
  padding: 0;
  opacity: 0;
}

.tempsMortTechnique .contenu {
  padding-top: 60px;
}

.tempsMortTechnique .info{
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
}

.tempsMortTechnique img{
  width: 80%;
  margin-top: 40px;
}

.tempsMortTechnique .btn-tpsMort {
	width: 100%;
	height: 180px;
	font-size: 70px;
	background-color: black;
	font-family: 'Bangers', cursive;
	color: white;
	border-radius: 0;
}

.tempsMortTechnique .btn-tpsMort.gauche {
  color: darkorange;
}

.tempsMortTechnique .btn-tpsMort.droite {
  color: cadetblue;
}

.tempsMortTechnique .btn-tpsMort.btn-passer {
  font-size: 25px;
  background: linear-gradient(to bottom, #4dec35 0%,#6dde28 50%,#28de2a 50%,#85c21f 51%,#46c21f 51%,#c0fe18 100%);
}

.tempsMortTechnique .btn-tpsMort.chrono {
  font-size: 60px;
  background-color:black;
  color: rgb(231, 114, 36);
  border: 2px solid white;
}

/* CSS de la fin du match */

.finMatch {
  display: none;
  z-index: 3;
}

.finMatch .row {
  padding: 15px;
}

.finMatch h1 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Bangers', cursive;
}

.finMatch button.fermer {
	float: right;
	border: none;
	background: transparent;
	font-size: 2rem;
	color: white;
	width: initial;
	height: initial;
	font-weight: bold;
}
/* CSS de confMatch*/

.confMatch  {
  display: none;
}

.confMatch h1 {
  text-align: center;
  margin: 3px 0;
}


/* CSS alternatif */
.body-scores.alt {
  background-color: rgb(42, 34, 34);
}

.score .alt {
  color: #00bcdb;
  border-color: #00bcdb;
}

.equipe.alt input {
  color: #00bcdb;
  border-radius: 0;
  border: 1px solid #00bcdb;
  box-shadow: none;
  background-color: transparent;
}


/* -------------------- CSS 7 segment digit ----------------------- */

/*
.digit {
  width:120px;
  height:200px;
  margin:0 5px;
  position:relative;
  display:inline-block;
}
*/
.clock {
  position: relative;
  height: 135px;
}

.digit {
	width: 85px;
	height: 120px;
	margin: 5px 5px;
	position: absolute;
	display: inline-block;
	border: 2px solid;
	transition: all 1s cubic-bezier(.64,.2,.3,.94);
}

.digit.droite {
	right: 0;
}

.digit .segment {
  /* background:#c00; */
  background: #d5da18;
  border-radius:5px;
  position:absolute;
  opacity:0.15;
  
  transition:opacity 0.2s;
  -webkit-transition:opacity 0.2s;
  -ms-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  -o-transition:opacity 0.2s;
}

.digit .segment.on, .separator {
  opacity:1;
  box-shadow:0 0 50px rgba(255,0,0,0.7);
  transition:opacity 0s;
  -webkit-transition:opacity 0s;
  -ms-transition:opacity 0s;
  -moz-transition:opacity 0s;
  -o-transition:opacity 0s;
}

.separator {
  width:20px;
  height:20px;
  background:#c00;
  border-radius:50%;
  display:inline-block;
  position:relative;
  top:-90px;
}

.digit .segment:nth-child(1) {
  top:10px;
  left:20px;
  right:20px;
  height:10px;
}

.digit .segment:nth-child(2) {
  top:20px;
  right:10px;
  width:10px;
  height:75px;
  height:calc(50% - 25px);
}

.digit .segment:nth-child(3) {
  bottom:20px;
  right:10px;
  width:10px;
  height:75px;
  height:calc(50% - 25px);
}

.digit .segment:nth-child(4) {
  bottom:10px;
  right:20px;
  height:10px;
  left:20px;
}

.digit .segment:nth-child(5) {
  bottom:20px;
  left:10px;
  width:10px;
  height:75px;
  height:calc(50% - 25px);
}

.digit .segment:nth-child(6) {
  top:20px;
  left:10px;
  width:10px;
  height:75px;
  height:calc(50% - 25px);
}

.digit .segment:nth-child(7) {
  bottom:95px;
  bottom:calc(50% - 5px);
  right:20px;
  left:20px;
  height:10px;
}