body {
    background-color: rgb(125, 22, 0);
    font-family: 'Roboto Condensed', sans-serif;
}

.header {
    position: relative;
    height: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

.header .match {
    vertical-align: -moz-middle-with-baseline;
}

.header .retour {
    position: absolute;
    top: 30px;
    right: 30px;    
}

.btn-header {    
    position: absolute;
    left: 100px;
    height: 110px;
    width: 110px;
    background-color: rgb(201, 158, 93);
    box-shadow: 0px 2px 2px 3px black !important;
    border-radius: 55px;
    background-image: url(img/bouton.svg);
    background-position: center;
    background-repeat: no-repeat;    
}

.btn-header:active {
    height: 109px;
    width: 109px;
    box-shadow: none !important;
}

.terrain{
    position: relative;
    margin-top: 25px;
    width: 90%;
    height: 400px;
    border: solid 2px black;
    padding: 0;
    background-color: rgb(255, 119, 19);
}

.terrain .row {
    padding: 0;
    margin: 0;
}

.terrain .filet {
    position: absolute;
    top: 50%;
    height: 5px;
}

.terrains {
    border: 3px solid white;
    height: 200px;
}

.equipes {
    text-align: center;
    position: relative;
    top: 40%;    
}

.equipes h2 {
    border-radius: 40px;
    height: 80px;
    width: 80px;
    text-align: center;
    display: -moz-deck;
    vertical-align: middle;
    padding-top: 18px;
    background-color: rgb(240, 255, 0);
    box-shadow: 2px 2px 3px !important;
}

.d {
    position: absolute;
    top: 80px;
    left: 15%;
}

.e {
    position: absolute;
    top: 80px;
    left: 50%;
    
}

.f {

    position: absolute;
    top: 80px;
    left: 80%;
}

.a {
    position: absolute;
    top: 270px;
    left: 15%;    
}

.b {
    position: absolute;
    top: 270px;
    left: 50%;
    
}

.c {

    position: absolute;
    top: 270px;
    left: 80%;
}

.anime {
    transition: all 2s cubic-bezier(.64,.2,.3,.94);
}

.uneEquipe {
    border-radius: 40px;
    height: 80px;
    width: 80px;
    text-align: center;
    padding-top: 26px;
    background-color: rgb(240, 255, 0);
    box-shadow: 2px 2px 3px !important;
    font-weight: bold;
}