body {
    background-color: #001e3c;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    padding-bottom: 20px;
}

.header {
    position: relative;
    min-height: 100px;
    padding-top: 18px;
  }

  .header h1 {
    text-align: center;
  }

  /* -------------- CSS du slider ------------- */
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 40px;
  text-align: center;    
}

   /* Hide default HTML checkbox */
   .switch input {display:none;}
  
   /* The slider */
   .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     padding-top: 5px;
     background-color: white;
     color: #001e3c;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   .slider:before {
     position: absolute;
     content: "";
     height: 30px;
     width: 30px;
     left: 3px;
     bottom: 5px;
     background-color: #001e3c;
     -webkit-transition: .4s;
     transition: .4s;
   }
   
   input:checked + .slider.selected{
     background-color: rgb(34, 245, 7);
   }
   
   input:focus + .slider.selected {
     box-shadow: 0 0 1px rgb(34, 245, 7);
   }
   
   input:checked + .slider:before {
     -webkit-transform: translateX(162px);
     -ms-transform: translateX(162px);
     transform: translateX(162px);
   }


   /* ------------ liste des joueurs ----------------- */
   .listeJoueurs .joueur {
     text-align: center;
   }

   .choix {
     margin-top: 15px;
     margin-bottom: 15px;
   }

   .choix .btn {
    margin: 2px;
    height: 50px;
   }

   .form-group {
     margin: 15px auto 0 auto;
     text-align: center;
   }

   .btn-form {
    height: 50px;
    width: 80%;
}

.mail .input-group {
  margin-top: 5px;
}

.retour {
  text-align: center;
  margin-top: 10px;
}

.retour .btn-retour {
  border-radius: 0;
  background-color: rgb(255, 208, 0);
  color: black;
  display: none;
	position: fixed;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: 0 auto;
  width: 50%;
  height: 150px;
}