body {
    background-color: #001e3c;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.formulaire {
    margin-top: 40px;
}

form {
    margin: 0 auto;
    text-align: center;
}

form .titre {
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}

.form-control:focus {
    border-color: #00ff27;
    box-shadow: none;
}

input {
   height: 50px;
}

div {
    margin-top: 5px; 
}


.btn {
    height: 50px;
    width: 80%;
}