/* bleu : #0b5b65; */

/*

font-family: "Encode Sans Compressed",sans-serif;
font-size: 14px;
font-weight: 600;
letter-spacing: .01em;
    
*/

button:hover {
    cursor: grab;
}

header {
    background: #0b5b65;
}

header .btnAjouter {
	float: right;
    margin: 5px;
    background: #18b0e1;
	color: white;
	border-radius: 0;
	border: 2px solid black;
	padding: 10px 20px;
	text-shadow: 0px 1px 3px #000;
	border-radius: 3px;
}

header h1 {
    font-family: 'Lobster', cursive;
    text-shadow: 1px 1px 8px white;
    font-size: 3rem;

	border: 6px solid black;
	display: inline-block;
	padding: 8px;
	background: yellow;
	box-shadow: 1px 1px 3px 2px currentColor;
}

header .regles {
    font-family: 'Permanent Marker', cursive;
}

header .regles p {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 4px solid black;
    padding: 5px;
    background: yellow;
    box-shadow: 1px 1px 4px 1px black;
}

header .mort {
    font-family: 'Anton', sans-serif;
    text-align: center;
    font-size: 1.5rem;    
}

header .mort p, header .mort img {
    display: inline-block;
}

header .mort .annonce {
    padding-top: 30px;
}

header .mort img {
    width: 100px;
}

footer {
    
    height: 200px;
	color: white;
    background-image: url("images/Volleyball-Widescreen.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
}

footer p {
    display: inline-block;
}

footer .contenuImage {
	background-color: #0b5b65;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}

/* Css de base des boutons comics ----------------- */
.comics {
    background: yellow;
    color: black;
    font-family: 'Permanent Marker', cursive;
    transform: skewX(-5deg);
    border-radius: 0;
    border: 3px solid black;
    box-shadow: 1px 1px 1px 1px black;
    padding: 10px;
}

/* matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY()) */
footer p:first-child {
    transform: skewX(-5deg) scale(2, 3) rotate(20deg) translate(50%, 30%);
}

footer p:last-child {
	transform: skewX(5deg) scale(2, 2) rotate(-20deg) translate(300px, 100px);
}

footer p:nth-child(2) {
	transform: skewX(-1deg) scale(2, 2) rotate(-5deg) translate(300%, 50%);
}




/* pageAjout */

.pageAjout {
    position: fixed;
    top: 60px;
    width: 500px;
    height: 400px;
	transition: all ease-in-out 0.5s;
    z-index: 2;
    left: 100%;
	background: white;
    border: 1px solid #0d2345;
    visibility: hidden;
    box-shadow: -1px 1px 3px 1px #4e4444;
}

.pageAjout.ouverte {
	
    transform: translateX(-500px);
    visibility: visible;
}

.pageAjout div {
    text-align: center;
}

.pageAjout .btn-fermer {
	text-align: right;
}

.pageAjout .btn-fermer button {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: #0d2345;
	box-shadow: 1px 1px 1px 1px grey;
	color: wheat;
	font-weight: bold;
	margin: 20px;
	transition: all linear 0.1s;
	font-size: 1.5rem;
	border: 2px solid wheat;
}

.pageAjout .btn-fermer button:active {
    box-shadow: none;
}

.pageAjout .ajoutDate {
	width: 200px;
	height: 40px;
	border: none;
	text-align: center;
	box-shadow: inset 0px 0 2px 0px #534343;
}

.pageAjout .ajoutBtn {
	width: 200px;
	height: 50px;
	background: #0d2345;
	color: wheat;
	font-weight: bold;
	margin-top: 50px;
	border: 1px solid wheat;
}

/* --------------- css btnInscription -------------- */

div.btnInscription {
	text-align: center;
	background: white;
	margin-top: 50px;
}

.btnInscription button {
	background: #0b5b65;
	color: white;
	width: 200px;
	height: 70px;
	border-radius: 0;
    box-shadow: 1px 1px 3px 1px black;
    
    font-family: "Encode Sans Compressed",sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .01em;
}

.btnInscription hr {
	border: 1px solid wheat;
	width: 50%;
	margin: 20px auto;
}



/* ----------- pageInscription ------------------- */
.pageInscription {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 0;
    z-index: 2;
    /*
    background: radial-gradient(circle,rgb(6, 30, 50),rgb(24, 51, 168) );
    */
    background-image: radial-gradient(farthest-side at 50% 50%, #0040d8, #081b86);
	transition: all ease-in-out 0.5s;
	overflow: hidden;
}

.pageInscription.ouverte {
    height: 100%;
    overflow: auto;
}

.pageInscription .btn-fermer {
	float: right;
	margin: 25px;
	font-size: 2rem;
}

.pageInscription .container {
    text-align: center;
}

.pageInscription .conteneurDiv {
	padding: 30px;
}

.pageInscription .nom {
    margin-top: 80px;
    margin-bottom: 40px;
}

.pageInscription .nom input {
	width: 300px;
	height: 50px;
	padding-left: 10px;
	border: 1px solid black;
	box-shadow: 1px 1px 1px green;
}

.pageInscription .presences .date {
	border: none;
	text-align: center;
	height: 40px;
	width: 200px;
	margin-bottom: 20px;
}

.pageInscription .presences {
	background: rgba(0,0,0,0.3);
	border-radius: 90px;
	padding: 20px;
	box-shadow: 1px 1px 8px 1px black;
}


.pageInscription .validation {
	margin-top: 40px;
}

.retourInfos p {
    display: inline-block;
    padding: 10px;
    background: darkorange;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}


/* -------------------- .conteneurDates ----------------*/
.conteneurDates {
    background-color: #ECE9E2;
}

.conteneurDates .uneDate {
    border: 1px solid #cccccc;
    box-shadow: 1px 1px 3px #cccccc;
    background-color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 15px;

    font-family: "Encode Sans Compressed",sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .01em;
}

.conteneurDates .uneDate input {
    display: block;
    width: 80%;
    text-align: center;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 5px auto;
    height: 50px;

    font-family: "Encode Sans Compressed",sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: .01em;
}

/* 0 présent, 1 retard, 2 incertain, 3 absent */
.uneDate input.present {
    background-color: rgb(34, 245, 7);    
  }

.uneDate input.retard {
    background-color: rgb(243, 222, 33);
}

.uneDate input.incertain {
    background-color: rgb(132, 41, 182);
}

.uneDate input.absent {
    background-color: rgb(243, 33, 33);
}

.uneDate p.aucunInscrit {
	display: inline-block;
    margin: 40px;
    color: white;
}